header {
    min-height:50vh;
    margin-bottom:100px;
    
}

header h1 {
    font-size:72px;
    color:white;
    font-family:'Lato';
    font-weight:300;
    text-shadow: 0 0 9px rgba(255,255,86,0.7) , 0 0 10px rgba(255,255,255,1), 0 0 12px #ff00de, 0 0 22px rgba(255,255,86,0.7), 0 0 32px #ff00de ,  0 0 100px #ff00de;
    text-align:center;
    text-transform:uppercase;
    padding-top:10%;
    letter-spacing:12px;
}

header p {
    color:white;
    text-align:center;
    padding:50px;
    padding-left:75px;
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    font-size:28px;
    text-shadow: 0px 0px 5px #D51448, 0px 0px 5px rgb(247, 245, 120);
    line-height:36px;   

}