@media (max-width: 900px) {
    h3 {
        font-size:28px;
    }
    label {
        max-width:250px;
        height:115px;
        img {
            max-width:75px;
        }
    }
}

@media (max-width:725px) {
    .wrapper h1 {
        font-size:50px;
    }
    h3 {
        font-size:24px;
    }
    label {
        max-width:225px;
        font-size:16px;
        height:100px;
        padding:10px 10px;
    }
    .quiz button {
        font-size:16px;
        height:35px;
        padding: 25px 50px;
    }
}

@media (max-width: 650px) {
    .wrapper h1 {
        font-size:64px;
        padding-top:20%;
    }
    header p {
        font-size: 22px;
        text-align: center;
    }
    .quiz h3 {
        padding-bottom: 25px;
        font-size:18px;
        line-height:24px;
    }
    .quiz-questions {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .quizFirstQ {
        label {
            padding-top:30px;
        }
    }
    .quiz-results {
        margin-top:200px;
    }
    .quizThirdQ {
        label {
            padding-top:30px;
        }
    }
    .quizFourthQ {
        label {
            padding-top:30px;
        }
    }
    label {
        // max-width: 200px;
        max-width:300px;
        width:100%;
        font-size:14px;
        margin:10px;
    }
    a {
        display:none;
    }
    .quiz button {
        // bottom:0;
        margin-top:25px;
        padding:0px 15px;
    }
    .song-choice h2,
    .drink-choice h2 {
        font-size:24px;
    }
    button.clickHere {
        font-size:14px;
    }
    .restart {
        font-size:12px;
    }
    
}

@media (max-width:360px) {
    header p {
        padding:40px 15px;
        font-size:18px;
    }
    .quiz-results p {
        font-size: 20px;
        padding:0 10px;
    }
    .quizFirstQ, .quizSecondQ, .quizThirdQ, .quizFourthQ {
    height:100%;
    }

    .quizThirdQ {
        label {
            padding-top: 15px;
        }
    }
    .quiz-results {
        margin-top:100px;
        }
    .restart button {
        font-size:14px;
        padding:0 20px;
    }
    img {
        width:100%;
    }
    }
