
@import 'header.scss';
@import 'main.scss';
@import 'normalize.scss';
h1, h3 {
    margin:0;
}

body {
    background:blue;
}
.wrapper {
    max-width:1200px;
    width:100%;
    margin:0 auto;
    background:orange;
}
p {
    // font-family: 'Quantico', sans-serif;
}