

@import 'header.scss';
@import 'main.scss';
@import 'normalize.scss';

h1, h3 {
    margin:0;
}

body {
    background:black;
}
.wrapper {
    max-width:1200px;
    width:100%;
    // border:1px solid blue;
    // background: blue;
    margin:0 auto;
}

.songsWords {
    display:none;
}

h1 {
    font-size:60px;
    color:white;
}
