
@import 'header.scss';
@import 'main.scss';
@import 'normalize.scss';
h1, h3 {
    margin:0;
}

.wrapper {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}


h1 {
    font-size:60px;
    color:white;
}
